.site{
    display:flex;
}
body{
    font-family: Georgia;
    text-align: center;
}
header,footer{
    background-color: #ba6b6c;
    padding: 7px;    
}

header, footer a{
    color: white;
    padding: 7px;
}
.left, .right{
    background-color: #ef9a9a;
    width: 20%;
    height: 500px;
}
main{
    background-color: mistyrose;
    width: 60%;
    height: 500px;
}
main img{
    height: 120px;
    margin: 7px;
    box-shadow: 7px 7px 7px dimgray
}
.data{
    background-color: mistyrose;
    padding: 50px;

}
table{
    border: solid 1px maroon;
    width: 80%;
}
h2::first-letter{
    color: maroon;
}
li{
    text-align: left;
}